<h1>Hello! this is the Angular Boilerplate with Assemble</h1>

<div class="widget">
	<input type="text" class="" ng-keyup="keyUp($event)" ng-model="fieldValue" required="" name="" placeholder="" ng-click="click($event)">
	<!-- <select>
		<option value="hi">Hi</option>
	</select> -->
	<a href="#" ng-click="submit()">SUBMIT</a>
</div>