.widget {
    margin: 2em auto;
    width: 50%;
    text-align: center;
    input {
        display: block;
        width: 100%;
        margin: 1em;
    }
    a {
        width: 100%;
        margin: 0 auto;
        color: #1f1f1f;
    }
}