<h1>Article</h1>
<h1>Hello! this is the Angular Boilerplate with Assemble</h1>
<div class="widget-test" endpoint="hello1"></div>
<div class="widget-test" endpoint="hello2"></div>
<div class="widget-test" endpoint="hello3"></div>